<a class="button is-danger" href="/drivers">Drivers</a>
<a class="button is-primary" href="/teams">Teams</a>
<a class="button is-link" href="/quiz">Quiz</a>
<a class="button is-link" href="/drivers/mv1">Max Verstappen</a>
<a class="button is-link" href="/drivers/op81">Oscar Piastri</a> <br>