<h3 class="subtitle">Oscar Piastri </h3>
Oscar Jack Piastri (Melbourne, Victoria, 6 de abril de 2001) es un piloto de automovilismo australiano. Entre los años 2019 y 2021 logró tres títulos seguidos: Eurocopa de Fórmula Renault, Fórmula 3 y Fórmula 2 (estos dos últimos como debutante), y resultó subcampeón de la F4 Británica en 2017. En 2021 fue miembro de la Academia Alpine y piloto reserva de Alpine en 2022.[2]​ Desde 2023 es piloto de McLaren en Fórmula 1, resultando tercero en 2025.    <br>
<br> <b>Informacion obtenida de <a href="https://es.wikipedia.org/wiki/Oscar_Piastri">Wikipedia</a></b>
<br>
<p class="is-size-7 has-text-right">Debido a como funciona la pagina aun no pude agregar el link a la imagen del piloto, lo voy a hacer otro dia para que no tengas que entrar por un boton todo feo</p>
<img src="https://media.revistagq.com/photos/68872b00c4f5c4440c34aebd/16:9/w_2560%2Cc_limit/2227250678"></img>
