<form action="/museum/add" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div class="content px-6 mx-6">
        <div class="field">
            <label for="nombreMomento" class="label">Nombre del momento</label>
            <div class="control">
                <input id="nombreMomento" name="nombreMomento" class="input" type="text"
                    placeholder="e.g Norris bottle">
            </div>
        </div>

        <div class="field">
            <label for="temporada" class="label">Temporada</label>
            <div class="control">
                <input id="temporada" name="temporada" class="input" type="text" placeholder="e.g. 2025">
            </div>
        </div>

        <div class="field">
            <label for="lugar" class="label">Lugar</label>
            <div class="control">
                <input id="lugar" name="lugar" class="input" type="text" placeholder="e.g. Silverstone, Brazil">
            </div>
        </div>

        <div class="field">
            <label for="videoLink" class="label">Link del video</label>
            <div class="control">
                <input id="videoLink" name="videoLink" class="input" type="text" placeholder="Link de youtube">
            </div>
        </div>

        <div class="field">
            <label for="imageLink" class="label">Link de la imágen</label>
            <div class="control">
                <input id="imageLink" name="imageLink" class="input" type="text"
                    placeholder="Link de imágen de internet">
            </div>
        </div>

        <input class="button is-primary" type="submit" value="Guardar momento">
    </div>
</form>