<div class="content px-6 mx-6">
    <br>
    <p class="subtitle">
        <% if (username != '') { %> 
        Bienvenido <strong><%= username %></strong>!
        <% } %>
    </p>
    <h1 id="mainPageTitle">My moments</h1>

    <div class="columns is-multiline" id="topColumn">

        <% for (let i=0; i < momentos.length; i++) { %>

            <div class="column is-3">
                <div style="font-weight: bold;">
                    <%= momentos[i].name %>
                </div>
                <a href="<%= momentos[i].videoLink %>" target="_blank">
                    <figure class="image is-16by9">
                        <img src="<%= momentos[i].image %>">
                    </figure>
                </a>
            </div>

            <% } %>

    </div>
    <% for (let permiso of permisos) { %>
        <% if (permiso.nombre_privilegio == 'agregar_momentos') { %>
            <a class="button is-info" href="/momentos/add">Agregar momento</a>
        <% } %>
    <% } %>
</div>