<% if(error != '') { %>
<article class="message is-danger px-6 mx-6">
    <div class="message-header">
        <p>Advertencia</p>
    </div>
    <div class="message-body">
        <%= error %>
    </div>
</article>
<% } %>