<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F1 Museum</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
        .navbar-item img {
            max-height: 2.5rem;
        }
    </style>
</head>

<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/museum">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/F1.svg" alt="F1 Logo">
            </a>

            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarF1">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarF1" class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/users/signup"> <strong>Sign up</strong></a>
                        <a class="button is-primary" href="/users/login"> <strong>Log in</strong></a>
                        <a class="button is-danger" href="/users/logout">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    