body {
  font-family: "Helvetica", "Arial", sans-serif;
}
/*
Las fuentes sans-serif son mejores para las pantallas, las fuentes serif son mejores para lo impreso
*/

li {
    color: darkgreen
}

.tanques {
    color : red;

}

h1.tanque {
    /*solamente para los tanques que tambien sean h1*/
}

#vi {
    font-size: large;
}

.tanque:hover {
    font-size: large;
    color :black;
}