/*
body {
  font-family: "Helvetica", "Arial", sans-serif;
}

Las fuentes sans-serif son mejores para las pantallas, las fuentes serif son mejores para lo impreso


li {
    color: darkgreen
}

.tanques {
    color : red;

}

h1.tanque {
    solamente para los tanques que tambien sean h1
}

#vi {
    font-size: large;
}

.tanque:hover {
    font-size: large;
    color :black;
}
    ------- Codigo que hicimos en clase, dejar solamente para repasarlo ------
*/
/* estilo css en documento externo*/
body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #555;
}

#merc {
    color:grey;
}
#orbr {
    color:navy
}
#fer {
    color:darkred
}
#wil {
    color:blue
}
#vcarb {
    color: lightslategrey;
}
#amr {  
    color:darkgreen
}
#haa {
    color:red
}
#sau {
    color: greenyellow
}
#alp {
    color:magenta
}

h1 {
    font-family: "mac sans font", "Roboto", "arial";
    text-transform: capitalize;
    text-shadow: .2em .2em .2em red;
    color: #333;
}

*.long_text{
    line-height: 1.5;
    padding: 4em 1em;
    text-align: justify;
}

#cry {
    font-family: fantasy;
    color: red
}

h2 {
    font-family: sans-serif;
    font-size:xx-large;
    font-weight: 650;
    color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.que {
    list-style-type: square;
    font-size: 1.4em;
}

li.ans {
    list-style-type: none;
    font-size: 1.2em;
    margin-bottom: 1em;
    border-bottom-style: dashed;
    border-bottom-width: .1em;
    line-height: 1.5;
    padding: 1em 1em;
}