<%- include('includes/__header') %>
<%- include('includes/__navBar') %>
    <p>
        <b>¿Qué otros templating engines existen para node?</b> <br>
        Los que existen son <b> EJS </b>que es el que estamos usando, <b> PUG </b>
        que igualmente es útil y tiene más funciones pero es más difícil de aprender 
        pues no se parece mucho a HTML, incluso tiene partes de python pues
        elimina las tags de cierre y lo reemplaza por la indentación, simlar a python,
        y por último está <b> Handlebars </b> el cual usa mucho los {} pero tiene
        desventajas que se requiere muchas funciones de js externas.
    </p>
<%- include('includes/__footer') %>