#f1_title {
    color:red;
}
#mclaren {
    color: #F47600;
}
#mercedes {
    color:#00D7B6;
}
#redbull {
    color:#4781D7
}
#ferrari {
    color:#ED1131
}
#williams {
    color:#1868DB
}
#vcarb {
    color: #6C98FF;
}
#astonmartin {  
    color:#229971
}
#haas {
    color:#9C9FA2
}
#sauber {
    color: #01C00E
}
#alpine {
    color:#00A1E8
}
#cadillac {
    color: grey;
}