#f1_title {
    color:red;
}
#mcl {
    color: #F47600;
}

#merc {
    color:#00D7B6;
}
#orbr {
    color:#4781D7
}
#fer {
    color:#ED1131
}
#wil {
    color:#1868DB
}
#vcarb {
    color: #6C98FF;
}
#amr {  
    color:#229971
}
#haa {
    color:#9C9FA2
}
#sau {
    color: #01C00E
}
#alp {
    color:#00A1E8
}