<form action="/quiz" method="POST">
    <div class="field">
        <label for="equipo" class="label">Equipo Favorito</label>
        <div class="control">
            <input id="equipo" name="equipo" class="input" type="text" placeholder="e.g Red Bull">
        </div>
    </div>

    <div class="field">
        <label for="piloto" class="label">Piloto</label>
        <div class="control">
            <input id="piloto" name="piloto" class="input" type="text" placeholder="e.g. Alex Albon">
        </div>
    </div>

    <div class="field">
        <label for="prediccionGanador" class="label">¿Quién crees que va a ganar?</label>
        <div class="control">
            <input id="prediccionGanador" name="prediccionGanador" class="input" type="text"
                placeholder="Obviamente va a ganar...">
        </div>
    </div>

    <input class="button is-primary" type="submit" value="Enviar resultados">
</form>